<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br> 
  
    <%= current_user.full_name%>

  <form class="pure-form" id="comment-form">
    <div class="comment-form">
      <div class="left-side">
        <div class="row">
          <input type="text" required placeholder="<%= current_user.full_name%>" id="new_comment_name">
          <%= f.number_field :product_id, placeholder: "product id" %>
        </div>
        <div class="row">
          <%= f.text_area :body, placeholder: "enter comment text" %>
        </div>
      </div>
     <div class="right-side">
        <button type="submit" class="button-secondary">Send Comment</button>
     </div>
    </div>
  </form>

<% end %>
