<div class="container padding_top">
  <div class="oneImg">
    <img class="circle"
    <% @product.images.each do |image|%>
      <%= image_tag(image.file_url) %>
    <% end %> 
  
    <h2 class="text-center padding_top"><%= @product.name %></h2>
    <h3 class="card-title pricing-card-title">Цена: <%= @product.price %></h3>
    <p>
      <%= @product.pr_description %>
      On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
      On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.    
    </p>
  </div>
  
</div>
<div class="container padding">
    <div class="img_section1">
      <div class="prod_img1">
        <% @product.images.each do |image| %>
          <%= image_tag(image.file_url) %>
        <% end %>
      </div>
    </div>
 
  <!-- Button trigger modal -->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Описание
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><%= @product.pr_description %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user.full_name %></strong>
    <br>
    <strong><%= comment.product_id %></strong>
    <br>
    <p><%= comment.body %></p>
  </div>
<% end %>
<%= link_to 'СообщениЯ', comments_path(@comment) %> 

